<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
 
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>Book Name:</strong>
        <p>{{ post.bookname }}</p>
    </div>
   
    <div>
        <strong>Book Detail:</strong>
        <p>{{ post.bookdetail }}</p>
    </div>

    <div>
        <strong>Book Price:</strong>
        <p>{{ post.price }}</p>
    </div>
   
</div>
